<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Winchester{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <navbar>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="{{ path('home') }}">Winchester</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ path('dashboard') }}">Dashboard</a>
                </li>
                <li class="navbar-item">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </li>
            </ul>
        </navbar>

        {% block content %}
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
