<div class="col-9 mx-auto mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h1>Gestion des articles</h1>
        </div>
        <div class="card-body">
            <div class="font-weight-bold d-flex justify-content-center">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="Title">{{ form_label(form.title) }}</label>
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.subject) }}</label>
                    {{ form_widget(form.subject) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.content) }}</label>
                    {{ form_widget(form.content) }}
                </div>
                {#<div class="form-group">#}
                    {#<label for="Subject">{{ form_label(form.isPublished) }}</label>#}
                    {#{{ form_widget(form.isPublished) }}#}
                {#</div>#}
                <div class="form-group text-center mt-5">
                    <div class="custom-control custom-checkbox">
                        <div class="custom-control custom-switch">
                            {{ form_label(form.isPublished) }}
                            {{ form_widget(form.isPublished) }}
                            {{ form_errors(form.isPublished) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.image) }}</label>
                    {{ form_widget(form.image) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.theme) }}</label>
                    {{ form_widget(form.theme) }}
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-sm">Sauvegarder</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>

