<div class="col-9 mx-auto mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h1>Gestion des articles</h1>
        </div>
        <div class="card-body">
            <div class="font-weight-bold d-flex justify-content-center">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="Title">{{ form_label(form.Title) }}</label>
                    {{ form_widget(form.Title) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.Subject) }}</label>
                    {{ form_widget(form.Subject) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.Content) }}</label>
                    {{ form_widget(form.Content) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.State) }}</label>
                    {{ form_widget(form.State) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.Image) }}</label>
                    {{ form_widget(form.Image) }}
                </div>
                <div class="form-group">
                    <label for="Subject">{{ form_label(form.Theme) }}</label>
                    {{ form_widget(form.Theme) }}
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-sm">Sauvegarder</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>

