{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des articles{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">            

            <div class="col-8 mt-3 mx-auto">
                <h1 class="text-dark my-4">
                    Liste des articles
                    {% if title is defined %}
                         - {{ title }}
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="col-9">
                        {% for article in articles %}
                        
                            <div class="article_card">
                                <div class="article_img">
                                    <img src="{{ asset(article.image) }}" alt="Image illustrant l'article" class="background_img" />
                                    <div class="article_details">
                                        <span class="article_views"><i class="far fa-eye fa-sm"></i> {{ article.nbViews }}</span>
                                        <span class="article_comments"><i class="far fa-comments"></i> {{ article.comments|length }}</span>
                                        <span class="article_date">
                                            <i class="far fa-calendar-alt"></i>
                                            16/06/2020
                                            {#{{ article.createdAt|date('d:m:Y h:m:s') }}#}
                                            {#{% if article.createdAt|date('d:m:Y h:m') < article.updatedAt|date('d:m:Y h:m') %}#}
                                            {#{{ 'blog.updated_at'|trans }} : {{ article.updatedAt|date('d:m:Y h:m:s') }}#}
                                            {#{% endif %}#}
                                        </span>
                                    </div>
                                </div>
                                <div class="article_data">
                                    <h2 class="article_title">{{ article.title|capitalize }}</h2>
                                    {#{% for category in article.categories  %}#}
                                    <a class="article_category" href="{{ path('article_index') }}{# {{ path('category_article_index', {'id': category.id}) }} #}">
                                        {{ article.theme.name }}
                                    </a>
                                    {#{% endfor %}#}
                                    <p class="article_desc">{{ article.content|slice(0, sliceLength) ~ '...' }}</p>
                                    <div class="cta">
                                        <a href="{{ path('article_show', { 'id': article.id }) }}" role="button">Voir plus &rarr;</a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="mx-auto">
                            {% if id is defined %}
                                {{ include('_pagination.html.twig', {'currentPath': currentPath, 'page': page, 'nbPage': nbPage, 'id': id}) }}
                            {% else %}
                                {{ include('_pagination.html.twig', {'currentPath': currentPath, 'page': page, 'nbPage': nbPage}) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        {% block leftMenu %}
                            {% if is_granted("ROLE_USER") %}
                                {{ render(controller('App\\Controller\\ArticleController::recentArticlesAction', {'nbArticles': 3 } )) }}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
