{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Titre de l'article -->
            <h1 class="mt-4">{{ article.articleTitle }}</h1>
            <!-- Auteur à voir avec steven  -->
            <p class="lead">
                Catégorie :
                <a href="#">{{ article.articleSubject }}</a>
            </p>
            <hr>
            <!-- Date/Heure -->
            <!-- à gérer une fois qu'on a modifié la base de données -->
            <p>Publié le : !!!</p>
            <hr>
            <!-- Image de l'article -->
            <!-- à gérer -->
            <img class="img-fluid rounded" src="https://tmssl.akamaized.net/images/foto/normal/kevin-prince-boateng-besiktas-1587123285-36609.jpg" alt="en cours de chargement ou corompue">
            <hr>
            <p>{{ article.ArticleContent }}</p>
            <hr>
        </div>
    </div>
</div>
    <a href="{{ path('article_index') }}">Retour à la liste des articles</a>
    <hr>
    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
